@use 'base/variables' as v;
@use 'base/mixins' as m;

.pasos {
    margin-top: 5rem;

    &__wave {
        margin-bottom: -1px
    }

    &__contenido {
        background-color: v.$primario;
    }

    &__heading {
        text-align: center;
        color: v.$blanco;

        &--descripcion {
            font-size: 2.2rem;
            display: block
        }
    }

    &__grid {
        @include m.tablet { 
            @include m.grid (3, 5rem);
        }
    }

    &__imagen {
        transition-property: transform;
        transition-duration: 300ms;
        
        &:hover {
            transform: rotate(-6deg) scale(1.12);
        }
    }
}